$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  text-align: center;
}

h1 {
  font-size: 100px;
  text-align: center;
}

$game-board-color: #008000;

$container-color: #000;

// .container-fluid {
//   display: grid;
//   grid-gap: 10px;
// }


.container {
  background-color: $container-color;
  margin: 0 auto;
  max-width: 370px;
  text-align: center;

  & .box {
    background-color: $game-board-color;
    height: 100px;
    margin: 10px;
    padding: 5px;
    width: 100px;
  }
}
